[2020-06-05 13:06] hashirshoaeb opened #1 "Widget UI Consistency"
The dates with coloured and without coloured background are not aligned.
The issue is in [day.dart](https://github.com/hashirshoaeb/star_book/blob/master/lib/widgets/day.dart).

<img width="306" alt="Screenshot 2020-06-05 at 5 54 03 PM" src="https://user-images.githubusercontent.com/35165481/83879181-b0980400-a756-11ea-917d-e306a81a5040.png">

[2020-06-07 11:26] hashirshoaeb opened #2 "Center alignment"
Widget is not aligned to center.
<img width="284" alt="Screenshot 2020-06-06 at 1 16 22 PM" src="https://user-images.githubusercontent.com/35165481/83967254-35129000-a8d9-11ea-9ee5-923689a66a11.png">

[2020-07-25 13:00] #2 closed

[2020-10-03 04:26] #1 closed

[2020-10-08 11:02] ShahzadUmarBaig opened #12 "Fixing the image in preference sheet."
I can add a circular avatar in preference sheet in front of about developer compatible with Apple Guidelines and will be following Material UI for android devices as well.

[2020-10-08 11:05] hashirshoaeb commented on #12
Hi,
Sure, just don't go for Mater UI for now. Implement this only using Cupertino and Apple Guidelines.
And use mock Github API to fetch avatar image.

[2020-10-08 13:44] hashirshoaeb commented on #12
Use this `https://avatars0.githubusercontent.com/u/35165481?s=88` for avatar. To change size you can change the value of `s`.
Take a look into this https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/material/circle_avatar.dart as well.

Happy coding :)

[2020-10-08 13:49] ShahzadUmarBaig commented on #12
I have created the circular avatar from scratch in Cupertino, will use this network image.

[2020-10-09 14:56] #12 closed

[2020-10-09 15:05] ShahzadUmarBaig opened #15 "Activity Screen"
I have completed the activity screen using hardcoded text, will make it dynamic as we progress

[2020-10-09 15:26] hashirshoaeb commented on #15
Best.

[2020-10-09 15:53] #15 closed

[2020-10-09 21:14] hashirshoaeb opened #17 "Adjust the width of calendar."
Dynamically adjust the width of month widget with respect to the size of the screen.

[2020-10-09 21:38] hashirshoaeb opened #18 "Add gesture detectors to change calendar months."
Add swipe left/right gesture detectors to change calendar months.

[2020-10-10 06:15] ShahzadUmarBaig commented on #17
I was working on it and I will be able to fix this issue today.

[2020-10-10 07:32] #17 closed

[2020-10-10 07:34] ShahzadUmarBaig commented on #18
We have to change the homepage coding as it is taking 10 2020 as parameters in Month widget, we have to acquire DateTime.Now to get the current month to display. After that we can use the Swipe left right gesture

[2020-10-10 07:40] hashirshoaeb commented on #18
yea u are right, will do it later, with date.now to get the on going month and year. I did this because mock data that i wrote was for October, that's why I hardcoded it.

[2020-10-10 20:37] hashirshoaeb opened #23 "Background colour should not be black."
Meanwhile async call resolves the promise, background colour should not be black. It can be transparent.

[2020-10-10 20:39] hashirshoaeb commented on #23
<img src="https://user-images.githubusercontent.com/35165481/95664551-64285f00-0b62-11eb-9aa0-8cb9ad6cf035.png" width=300 alt="Simulator Screen Shot - iPhone 11 Pro - 2020-10-11 at 01 33 18" ></img>

[2020-10-12 03:50] hashirshoaeb opened #24 "Colors in Dark mode are not rendering properly"
Need to resolve dynamic colors.

[2020-10-12 03:50] hashirshoaeb commented on #24
<img src="https://user-images.githubusercontent.com/35165481/95702980-57416380-0c67-11eb-8e92-e00f133dd59e.PNG" width="250" ></img>
<img src="https://user-images.githubusercontent.com/35165481/95702981-5a3c5400-0c67-11eb-9568-d914ed9323c7.PNG" width="250" ></img>
<img src="https://user-images.githubusercontent.com/35165481/95702985-5b6d8100-0c67-11eb-93d2-dadebe682cf0.PNG" width="250" ></img>
<img

[2020-10-13 05:34] ShahzadUmarBaig commented on #23
I will be fixing this issue today.

[2020-10-13 06:23] #23 closed

[2020-10-13 06:24] #18 closed

[2020-10-13 07:32] hashirshoaeb opened #27 "Day widget: set text color to white for colored boxes."
check the color of the box, if activity is not null and color is not default then text color should be white.

[2020-10-17 14:43] hashirshoaeb opened #31 "Nested routing"
On poping the initial route of the inner navigator should take context to the outer navigator.

[2020-10-17 14:58] hashirshoaeb commented on #31
<img src="https://user-images.githubusercontent.com/35165481/96342301-fc6a9a80-10b2-11eb-82ba-59dc2c5edb44.gif" alt="bug-nested-routing" width=200 />

[2020-10-17 15:30] AseemWangoo commented on #31
Some thoughts

1. Instead of tapping the mood, try click on done?

Is the done button implementing .pop(context) ?

[2020-10-17 15:53] hashirshoaeb commented on #31
yes button "done" has Navigator.of(context).pop()

[2020-10-17 15:54] hashirshoaeb commented on #31
@AseemWangoo still give the same results

[2020-10-17 16:19] jordanmlacalle commented on #31
@hashirshoaeb Raised PR, #32 , to resolve this issue.

[2020-10-17 16:45] #31 closed

[2020-10-19 21:48] hashirshoaeb opened #34 "Add animation on Horizontal Drag to left and right on home screen calendar."
On changing state, widget should have some cool animation.

[2020-10-22 10:28] hashirshoaeb opened #35 "Preference Sheet"
- [x] In Navigation Bar, instead of back icon, there should be "back" text.
- [x] Should be in Cupertino style.
- [x] Compatible with dark mode .

[2020-10-23 11:31] #24 closed

[2020-10-24 06:37] ShahzadUmarBaig opened #37 "Issue with incorrect return types"
You have hardcoded all the body return types to SafeArea where as they should have been Widget type, the benefit of using this type is you can change the return object and it will not produce any error, where as currently if you change the return object, it produces the type error.

You can see the error

![Screenshot (109)](https://user-images.githubusercontent.com/59028228/97069928-370d8f00-15ed

[2020-10-24 06:39] ShahzadUmarBaig opened #38 "Renderflex overflowed issue"
When you are on edit mood sheet, try clicking on title when the virtual keyboard pops up, then click on mood. the new mood sheet will show a minor second renderflex error at the bottom of the sheet, this can be fixed using SingleChildScrollView.

Refer to the screenshot for error.

![Screenshot (108)](https://user-images.githubusercontent.com/59028228/97069969-8784ec80-15ed-11eb-995e-ced5ea9b6480.

[2020-10-24 07:12] #37 closed

[2020-10-24 07:12] #38 closed

[2020-10-24 14:07] ShahzadUmarBaig opened #40 "Changes Suggestion"
I have made a few changes in my fork, first I have changed the mood sheet text size back to default, it is extra big making it a little bolder, additionally I have changed the way circle colors are created, they are created using borderRadius previously where as I am using BoxShape.Circle which makes it perfectly circle without any radius, secondly I have change the padding to 8,8 that makes the c

[2020-10-24 14:53] hashirshoaeb commented on #40
Hi, that sounds good. Create a pull request. Let me see your changes.

Thanks.

[2020-10-25 05:32] ShahzadUmarBaig commented on #35
What is this issue? Explain in detail.

[2020-10-25 05:58] ShahzadUmarBaig commented on #35
I have fixed this issue, adding it directly to my master, you can review this and merge if you find it correct.

[2020-10-25 08:00] #40 closed

[2020-10-25 09:01] #35 closed

[2020-10-25 14:03] ShahzadUmarBaig commented on #27
I have fixed the color thing, now it shows white color for the boxes with activity!

[2020-10-25 14:05] ShahzadUmarBaig commented on #27
I have fixed this issue with PR #43

[2020-10-25 14:32] #27 closed

[2020-12-29 05:21] hashirshoaeb opened #47 "Add year view"
Need to implement year view screen that shows user, a scrollable year calendar with mood colors.
Add a text button on the top left of the  homePage and Navigate to year view screen.

- [x] YearPage
- [x] Year Widget
- [x] Navigation Route to YearPage

You can look into this https://github.com/mennorenkens/flutter_scrolling_calendar package to get the idea of implementation.

[2020-12-29 05:21] hashirshoaeb opened #48 "Analytics Widget"
Need to implement analytics widget, which shows monthly and weekly mood graph.
- [x]  Analytics Widget
- [ ]  Monthly Mood graph
- [ ] Weekly Mood  graph

For reference, look into https://reflectly.app/

[2020-12-29 05:21] hashirshoaeb opened #49 "Add GitHub Issue templates"
Need to add following GitHub issue templates:
- [x] Bug Report
- [x] Feature Request
- [x] Question

You can take example reference from here: https://github.com/hivedb/hive/tree/master/.github/ISSUE_TEMPLATE

[2020-12-29 05:21] hashirshoaeb opened #50 "Notifications"
Need to add Notification Generation logic, So the app notifies user to add mood next morning if user forgets to add mood pervious day.

Add Setting option, and let the user tell when to remind him  to write diary. And generate notification at that time if user did not write diary.

- [x] Remind user to write todays diary.

[2020-12-29 05:22] hashirshoaeb opened #51 "Left and right swipe on calendar is not smooth"

[2020-12-29 05:22] hashirshoaeb opened #52 "Update gifs in Readme.md"
Need to update gifs in Readme.md for
 - [x] iOS or Android Phones
 - [x] Light and Dark Mode

This link https://ezgif.com/video-to-gif  will help your to convert screen recording to gif.

[2020-12-29 05:22] hashirshoaeb opened #53 "Code Refactoring"
Need to implement OOP concepts and design patterns to improve the quality, reusability and scalability of code.

- [x] Shift the state logic to the bloc pattern.

[2020-12-29 05:23] hashirshoaeb opened #54 "Code Refactoring"
- [ ] UI compatibility with dark mode

[2020-12-29 05:30] hashirshoaeb opened #55 "Add Background Images"
Need to add background images in home screen. Get a random wallpaper from unsplash using unplash APIs.

- [x] Implement Unsplash APIs
- [x] Show widget in the background of home screen
- [x] Show new image on swipe

You can look into: https://unsplash.com/developers

[2020-12-29 05:32] hashirshoaeb opened #56 "Date Picker Widget"
Allow user to change date. Let user to select date through date picker widget.
Note: Do not let user to pick a date on which mood is already done. And mood picker should be Cupertino style.

- [ ] Add a 'add button' on home screen
- [ ] Implement date picker
- [ ] Edit date in add mood sheet

[2020-12-29 05:40] hashirshoaeb opened #57 "User Info Screen"
Need to implement a screen to ask for username. Name it UsernameAddSheet

[2020-12-29 10:57] Hardikkr commented on #49
You can assign this to me. And Can I work on more than one issue?

[2020-12-29 11:50] hashirshoaeb commented on #49
Hi, I can see you excitement with SWoC. I suggest you to wait for 5th January. Then we will formerly start the contributing journey.
I'm working on writing new issues and features.

[2020-12-31 03:44] hashirshoaeb opened #58 "Bottom Navigation Bar"
Need to implement, bottom tab bar consisting of two tabs,
- [ ] homePage
- [ ] profilePage

You can learn from:
 - https://www.youtube.com/watch?v=3PdUaidHc-E
 - https://api.flutter.dev/flutter/cupertino/CupertinoTabBar-class.html

[2020-12-31 03:44] hashirshoaeb opened #59 "Launch File"
- [x] Add launch.json file for vscode. Add  default dart configurations.

You can learn from here:
- https://flutter.dev/docs/development/tools/vs-code#run-app-in-debug-profile-or-release-mode

[2021-01-02 04:53] prajakta2809 commented on #58
i would like to work on it.

[2021-01-02 04:58] hashirshoaeb commented on #58
@prajakta2809 wait for 5th Jan, then we will formally start our contributing journey.

[2021-01-02 04:59] ShrutiJ-01 commented on #57
I would like to work on it!

[2021-01-02 05:02] hashirshoaeb commented on #58
Tho I'm assigning it to you.

[2021-01-02 05:16] hashirshoaeb commented on #57
@ShrutiJ-01 I have assigned it to you. You can start working on it after 5th.

[2021-01-02 05:17] ShrutiJ-01 commented on #57
Thankyou! I'll start working on it after 5th👍

[2021-01-02 05:19] hashirshoaeb commented on #58
@prajakta2809 please join starbook channel on slack

[2021-01-02 10:42] Hardikkr commented on #49
So, I have to make Github issue template the same as https://github.com/hivedb/hive/tree/master/.github/ISSUE_TEMPLATE this one?
I'll start working on this from 5th January.

[2021-01-02 10:45] hashirshoaeb commented on #49
Yes

[2021-01-02 10:47] hashirshoaeb commented on #49
try creating a new issue at hive https://github.com/hivedb/hive/issues
you will see how it works.

[2021-01-02 11:15] hashirshoaeb commented on #58
Check 1 and 2 Screen, here: [Starbook.pdf](https://github.com/hashirshoaeb/star_book/blob/master/READMEdocs/StarBook.pdf)

[2021-01-02 11:17] hashirshoaeb commented on #57
Check (10) Screen here: [Starbook.pdf](https://github.com/hashirshoaeb/star_book/blob/master/READMEdocs/StarBook.pdf)

[2021-01-02 17:05] Imadarshsri commented on #59
I would like to take this

[2021-01-02 18:16] hashirshoaeb commented on #59
You can start contributing from 5th Jan.

[2021-01-03 04:57] prajakta2809 commented on #58
yes i will start working on it from 5th jan. And I had joined the channel.

[2021-01-03 06:18] Imadarshsri commented on #59
Okay, I will start it by then.

[2021-01-03 16:37] cyber-venom003 commented on #47
@hashirshoaeb Can you please assign it to me?? I'll start contributing it from 5th Jan

[2021-01-03 16:42] hashirshoaeb commented on #47
Sure. Check (8) Screen here: [Starbook.pdf](https://github.com/hashirshoaeb/star_book/blob/master/READMEdocs/StarBook.pdf)

[2021-01-03 16:43] hashirshoaeb opened #60 "Light And Dark Mode Switch"
Need to implement  Dark mode switch in PreferenceSheet.

- [x] Three options: Auto, Light and Dark.

You may need to use bloc design. And You can also see CupertinoApp(), CupertinoThemeData() and brightness: Brightness widgets and enums in Cupertino package.

[2021-01-04 07:17] KhyatiSaini commented on #60
Sir, I would like to work on it, please assign me this issue

[2021-01-04 07:27] hashirshoaeb commented on #60
Check (9) Screen, here: [Starbook.pdf](https://github.com/hashirshoaeb/star_book/blob/master/READMEdocs/StarBook.pdf)

[2021-01-04 07:29] KhyatiSaini commented on #60
Okay sir, thank you

[2021-01-04 07:51] spiderxm commented on #48
I would like to work on this, please assign me this issue

[2021-01-04 07:51] spiderxm commented on #56
I would like to work on this, please assign me this issue.

[2021-01-04 08:08] hashirshoaeb commented on #48
Go through [Contributing.md](https://github.com/hashirshoaeb/star_book/blob/master/CONTRIBUTING.md)

[2021-01-04 08:08] hashirshoaeb commented on #56
Go through [Contributing.md](https://github.com/hashirshoaeb/star_book/blob/master/CONTRIBUTING.md)

[2021-01-04 08:39] ShrutiJ-01 commented on #55
I would like to work on this issue If assigned under SWOC21

[2021-01-04 08:42] hashirshoaeb commented on #55
Go through [Contributing.md](https://github.com/hashirshoaeb/star_book/blob/master/CONTRIBUTING.md)

[2021-01-05 04:02] sid-1207 commented on #51
Hey I would like to work on this issue
Can you please assign it to me?

[2021-01-05 04:50] sid-1207 commented on #50
Hey i would like to work on this issue
Please assign it to me

[2021-01-05 07:39] SinghShreya05 opened #61 "Research: Mood analysis"
I want to work on this, @hashirshoaeb please assign me.

[2021-01-05 08:06] ShrutiJ-01 commented on #57
@hashirshoaeb I went through the wireframes, those were really helpful and beautiful! I wanted to know if I need to follow any color pallet as of now?

[2021-01-05 08:33] hashirshoaeb commented on #57
Read  the rules in [Contributing.md ](https://github.com/hashirshoaeb/star_book/blob/master/CONTRIBUTING.md#rules)
Also have look into: https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/color/

[2021-01-05 09:50] mdmohsin7 commented on #53
I would like to work on this issue. Can you please assign it to me?

[2021-01-05 10:24] hashirshoaeb commented on #53
@mdmohsin7 Assigning you to work on bloc. I will discuss the architecture with you.

[2021-01-05 11:32] mdmohsin7 commented on #53
Oh okay 👍

[2021-01-05 17:05] HimeshNayak opened #63 "App logo"
The app has the default flutter app logo. If an image is provided, I can add the app logo.
Please assign this issue to me under SWoC.

[2021-01-05 18:20] hashirshoaeb commented on #63
ping me on slack, i'll send you there.

[2021-01-05 21:59] HimeshNayak commented on #63
done

[2021-01-06 03:09] #59 closed

[2021-01-06 09:41] hashirshoaeb commented on #47
https://github.com/mennorenkens/flutter_scrolling_calendar/blob/master/lib/year_view.dart

[2021-01-06 15:07] infiniteoverflow opened #66 "Update the deployment target of iOS version"
When we run the app on iPhone 12 Pro Max Simulator , we get the following warning :

`
warning: The iOS Simulator deployment target 'IPHONEOS_DEPLOYMENT_TARGET' is set to 8.0, but
    the range of supported deployment target versions is 9.0 to 14.3.99. (in target
    'path_provider' from project 'Pods')
`

This can be resolved by changing the deployment target to something higher.

[2021-01-06 15:08] infiniteoverflow commented on #66
SWOC '21 Participants Kindly comment on the issue if you are interested in working on this issue.

[2021-01-06 19:48] #49 closed

[2021-01-07 03:16] #63 closed

[2021-01-07 07:53] HimeshNayak opened #69 "Adding Privacy and Terms"
Privacy and Terms in preference_sheet.dart is inactive.

If provided an url of the "Privacy and Terms", I can activate the button and open the link.

If you don't have a privacy and terms url yet, there are some websites that provide a template for free. Such as,
https://privacyterms.io/privacy-policy-generator/
https://getterms.io/

Please assign this issue to me under SWoc.

[2021-01-07 08:13] HimeshNayak opened #70 "Showing message when date is inactive"
**Is your feature request related to a problem? Please describe.**
The user does not get any message from the app stating that he cannot add the mood on that day.

**Describe the solution you'd like**
A Snackbar can be displayed to the user stating him that he cannot add moods in the future.

**Describe alternatives you've considered**
Any other widget can be shown too such as alertDialog, etc.

I

[2021-01-07 12:35] hashirshoaeb commented on #47
@cyber-venom003 any progress? or facing issues?

[2021-01-07 12:41] cyber-venom003 commented on #47
Still working on it, was busy in some other stuff. Will try to raise a PR asap.👍

[2021-01-07 13:25] vilsi12 commented on #60
can you assign me

[2021-01-07 13:36] hashirshoaeb commented on #60
@vilsi12 You can with ask @KhyatiSaini. She is working on UI part of this issue.

[2021-01-07 13:38] hashirshoaeb opened #71 "Add mock data for testing purpose"
- [ ] Create a list of activities in lib/models/activity.dart
- [ ] write a static 'initialize' method. check if hive is empty then populate it with mock data in list.
- [ ] call the initialize method in main

[2021-01-07 13:42] #57 closed

[2021-01-07 13:56] hashirshoaeb commented on #70
Try looking for looking for iOS style dialog or snack bar. CupertinoDialog would work i guess.

[2021-01-07 14:09] hashirshoaeb opened #73 "Add User Model"
[code]
Take example from: [activiity.dart](https://github.com/hashirshoaeb/star_book/blob/master/lib/models/activity.dart) and [mood.dart](https://github.com/hashirshoaeb/star_book/blob/master/lib/models/mood.dart)

[2021-01-07 14:43] ShrutiJ-01 opened #74 "Add Animation and UI changes to username_add_sheet.dart"
**Is your feature request related to a problem? Please describe.**
I would like to modify the UI of username_add_sheet

**Describe the solution you'd like**
I would like to add a graphic design, align the text and add animation to the username_add_sheet.dart
Please assign it to me under SWOC21.

**Describe alternatives you've considered**

[2021-01-07 14:59] hashirshoaeb opened #75 "Add Profile Page"
Implement ProfilePage Screen
- [ ] Greetings widget
- [ ] Username widget
- [ ] Stats widget

For reference, check  Screen(2) [link](https://github.com/hashirshoaeb/star_book/blob/master/CONTRIBUTING.md#mock-up)

[2021-01-07 14:59] hashirshoaeb opened #76 "Add route for UsernameAddSheet"
- [x] you need to add route for UsernameAddSheet in [route_generator.dart](https://github.com/hashirshoaeb/star_book/blob/master/lib/routes/route_generator.dart)
-  [ ] if app launches first time show UsernameAddSheet before HomePage.
- [x] onContinue go to  HomePage.
- [ ]  if name is already filled skip UsernameAddSheet and directly show HomePage.

[2021-01-07 15:11] KhyatiSaini commented on #60
@vilsi12 ma'am I have added the switch button for dark mode in the PreferenceSheet, I'm not able to implement the bloc design, you can work on that

[2021-01-07 15:16] hashirshoaeb commented on #60
@KhyatiSaini implement it like this. Like there are three options: Auto, Light and dark

![IMG_0593](https://user-images.githubusercontent.com/35165481/103909045-084f8100-5125-11eb-8cb2-971263fec761.jpg)

[2021-01-07 15:17] hashirshoaeb commented on #60
@KhyatiSaini check CupertinoSlidingSegmentedControl
- https://flutter.dev/docs/development/ui/widgets/cupertino
- https://api.flutter.dev/flutter/cupertino/CupertinoSlidingSegmentedControl-class.html

[2021-01-07 15:21] KhyatiSaini commented on #60
Okay sir

[2021-01-07 18:19] Imadarshsri commented on #71
I would like to work on this.

[2021-01-07 18:20] Imadarshsri commented on #75
I would like to work on this.

[2021-01-07 18:42] hashirshoaeb commented on #71
avoid filling activity with `lorem ipsum text`. Write some real type diary text, including words that express emotions like 'happy, glad, sad' etc. we will be needing this future.

[2021-01-08 02:36] ShrutiJ-01 commented on #76
I would like to work on it

[2021-01-08 02:37] ShrutiJ-01 commented on #75
I would like to work on it

[2021-01-08 09:32] hashirshoaeb commented on #76
Let me know when you start working on it.

[2021-01-08 14:28] #70 closed

[2021-01-09 02:58] hashirshoaeb commented on #55
Things you need to do for now:

1. [ ] Looking into `.env` to securely save access key.
2. [ ] A constant/final variable to get `unsplash assess key `
3. [ ] A widget `UnsplashImage` that implements the api and return Image.

[2021-01-09 03:53] ShrutiJ-01 commented on #55
Yes, Will open a PR as soon as possible!

[2021-01-09 06:05] KhyatiSaini commented on #73
Sir, I would like to work on this, please assign me this issue

[2021-01-09 07:52] hashirshoaeb opened #83 "Add methods in Data classes"
implement following methods in data classes(models).

- [x] equals (operator ==)
- [x] hashCode
- [x] toString
- [x] copyWith

[2021-01-09 07:54] KhyatiSaini commented on #83
Sir, I would like to work on this, please assign me this issue

[2021-01-09 18:11] HimeshNayak opened #88 "Add a splash screen for android"
Adding a splash screen for android

[2021-01-09 18:16] hashirshoaeb commented on #88
Can you explain it a bit?

[2021-01-09 18:22] #69 closed

[2021-01-09 18:34] suhas-kadu commented on #88
I would like solve this issue.

[2021-01-09 18:36] suhas-kadu commented on #88
When an app is opened white screen is displayed initially and then the first screen. By adding a Splash screen this white screen can be eliminated. A png image has to added for splash screen

[2021-01-09 18:41] HimeshNayak commented on #88
You can visit this link for more info.
https://flutter.dev/docs/development/ui/advanced/splash-screen
I would like work on this issue.

[2021-01-09 19:45] #83 closed

[2021-01-10 05:03] #73 closed

[2021-01-10 05:07] cyber-venom003 commented on #75
@hashirshoaeb Can you please assign this to me? I would like to work on this.

[2021-01-10 05:58] Vrushti24 commented on #88
I would like to work on this issue please assign me

[2021-01-10 10:15] hashirshoaeb commented on #88
I looked into it. Since i have not designed logo for the splash screen yet. And if i had i would prefer to implement it for ios first. Thank you for suggesting the issue. I'm closing it for now. I'll reopen it in future.

[2021-01-10 10:15] #88 closed

[2021-01-10 10:51] KhyatiSaini commented on #48
Sir, I would like to work on this issue, please assign me this issue

[2021-01-10 12:16] spiderxm opened #90 "Add code to prevent memory leaks."
TextEditingController's if not disposed manually create memory leak's. Add code to prevent it.

[2021-01-10 12:16] spiderxm commented on #90
assign me this issue, I want to work on it.

[2021-01-10 13:32] mdmohsin7 commented on #50
I would like to work on this issue. Can you please assign it to me?

[2021-01-11 04:18] hashirshoaeb commented on #47
year widget implementation in #92

[2021-01-12 03:21] hashirshoaeb opened #98 "Write guideline about adding .env"
write guideline about adding .env file in project under getting started heading.

Ref:
https://pub.dev/packages/flutter_dotenv
https://github.com/hashirshoaeb/star_book#getting-started

[2021-01-12 05:49] #71 closed

[2021-01-12 05:56] #55 closed

[2021-01-12 07:01] ShrutiJ-01 commented on #98
I'd like to work on it!

[2021-01-12 07:15] hashirshoaeb commented on #98
- comment out .env in pubspec.yml  https://github.com/hashirshoaeb/star_book/blob/master/pubspec.yaml#L73
- add in guideline:
  - uncomment it .env in pubspec.yml.
  - and add .env file
  - get client_id from unsplash by creating developer account
  - add in .env like that
[code]

This is a rough idea. you can write in your words.

[2021-01-12 14:21] #47 closed

[2021-01-12 15:11] #56 closed

[2021-01-12 15:49] #98 closed

[2021-01-12 15:53] #90 closed

[2021-01-12 15:56] hashirshoaeb opened #101 "Rename variable"
- [ ] Rename enum [Ecolor](https://github.com/hashirshoaeb/star_book/blob/master/lib/utils/color.dart#L4) to MoodColor

[2021-01-12 15:56] hashirshoaeb opened #102 "Update privacy policy"
- [x] Rename [POLICY.md](https://github.com/hashirshoaeb/star_book/blob/master/POLICY.md) to PRIVACY&POLICY.md
- [x] replace with following:

[code]

[2021-01-12 15:57] hashirshoaeb opened #103 "Add constraint in username TextField"
- [x] Allow max 20 char to add for username in [UsernameAddSheet](https://github.com/hashirshoaeb/star_book/blob/master/lib/screens/username_add_sheet.dart)
- [x] Restrict user to add at least one character before continue in [UsernameAddSheet](https://github.com/hashirshoaeb/star_book/blob/master/lib/screens/username_add_sheet.dart).

You can learn from: https://api.flutter.dev/flutter/cupertino/

[2021-01-12 15:59] hashirshoaeb opened #104 "Add Code Comments"
Add code comments for:

- [x] Year widget
- [x] AlertDialog widget
- [x] YearPage
- [x] UsernameAddSheet
- [x] User
- [x] UnsplashPhoto
- [x] UnsplashAPIService

Take example from other classes. Learn more from here: https://dart.dev/guides/language/effective-dart/documentation

[2021-01-12 16:03] ShrutiJ-01 commented on #103
I would like to work on this!

[2021-01-12 17:42] cyber-venom003 commented on #103
Lemme work on this

[2021-01-12 18:16] hashirshoaeb opened #105 "Add mock data"
Add mock Activity data in [mActivityList](https://github.com/hashirshoaeb/star_book/blob/master/lib/models/activity.dart#L117) from December 2020 onward dates.

Note: avoid filling activity with lorem ipsum text. Write some real type diary text, including words that express emotions like 'happy, glad, sad' etc. we will be needing this in future.

[2021-01-12 21:09] Sloth-Panda opened #106 "Creation of code_of_conduct file"
Let me know if a code of conduct file needs to be added

[2021-01-12 21:13] spiderxm commented on #104
assign me this issue, i want to work on this

[2021-01-13 04:46] hashirshoaeb commented on #106
Amm, you can share the templates with me. If feels right then we can go for it.

[2021-01-13 05:08] hashirshoaeb commented on #104
You may have noticed that the code is well commented. With the start of SWOC, there are many classes added, but are not documented well. You just need to understand the functionality of class and static methods, and write 'code comments' above them.

For example:

[code]
[code]

I have talked to @Imadarshsri before you for this issue. But considering 'comment-first' rule of SWOC, I'm assigning thi

[2021-01-13 05:13] hashirshoaeb commented on #103
@cyber-venom003 complete the previously assigned task first 😅

[2021-01-13 05:16] spiderxm commented on #103
assign me this issue

[2021-01-13 05:20] hashirshoaeb commented on #103
@spiderxm already assigned you, the code comment issue.

[2021-01-13 05:21] spiderxm commented on #103
I want to work on both issues

[2021-01-13 06:42] spiderxm opened #107 "Fix code to make month and year visible"
Add Background behind Year and Month Detail To make it visible irrespective of background image color.

<img src="https://user-images.githubusercontent.com/53966291/104415633-5ab2f680-5598-11eb-9680-82ecf8bcb28a.jpg" alt="" width="200" >

[2021-01-13 08:17] Sloth-Panda commented on #106
It's like the normal code_of_conduct file that all projects have

[2021-01-13 11:05] hashirshoaeb commented on #75
@ShrutiJ-01 please help him with UI.

[2021-01-13 11:17] ShrutiJ-01 commented on #75
Sure👍

[2021-01-13 13:53] hashirshoaeb commented on #107
One nice way is to use dark coloured image, for dark mode.

[2021-01-13 13:55] hashirshoaeb commented on #106
go for it then ☺️

[2021-01-13 14:38] #104 closed

[2021-01-13 15:42] KhyatiSaini commented on #102
Sir, I would like to work on this, please assign me this issue

[2021-01-13 16:13] KhyatiSaini commented on #101
Sir, I would like to work on this, please assign me this issue

[2021-01-14 06:22] #74 closed

[2021-01-14 08:17] shradhaagarwal01 commented on #52
Sir, I am a participant in SWoC 2021. I would like to work on this issue.

[2021-01-14 08:30] hashirshoaeb commented on #52
ping me on slack.

[2021-01-14 09:12] sakshikhachane commented on #34
@hashirshoaeb I would like to work on this issue. Please assign me this issue.

[2021-01-14 09:21] hashirshoaeb commented on #34
Under SWoC?

[2021-01-14 09:25] sakshikhachane commented on #34
Yes

[2021-01-14 09:36] hashirshoaeb commented on #34
kindly ping me on slack, and let me know how are you planning to solve this issue.

[2021-01-14 09:53] hashirshoaeb opened #118 "Set Device Orientation"
Set the device orientation to portrait up in main.

You can learn from here: https://api.flutter.dev/flutter/services/SystemChrome/setPreferredOrientations.html
https://api.flutter.dev/flutter/services/DeviceOrientation-class.html

Also add this limitation in code comments, that it wont work for iPad when multitasking is enabled.

[2021-01-14 10:14] cyber-venom003 commented on #118
Please assign this to me. 😄

[2021-01-14 10:25] cyber-venom003 commented on #76
@hashirshoaeb Is this issue yet to be closed??

[2021-01-14 10:28] hashirshoaeb commented on #76
There are few things that are left. but we need hive integration before that. I'll be opening new issues for that next week probably.

[2021-01-14 13:58] #58 closed

[2021-01-14 16:10] #48 closed

[2021-01-14 16:10] #102 closed

[2021-01-14 16:11] #101 closed

[2021-01-14 16:16] #106 closed

[2021-01-14 16:33] KhyatiSaini commented on #105
Sir, I would like to work on this, please assign me this issue

[2021-01-14 18:02] #103 closed

[2021-01-14 18:58] hashirshoaeb opened #120 "[Bug] Navigation Hero Tag"
Got this error when navigating from one route to another

[code]
Reference links:
-  https://stackoverflow.com/questions/54802114/reusing-widget-with-cupertino-navigation-bar-inside
- https://stackoverflow.com/questions/57595560/flutter-handling-multiple-navigation-screen-in-cupertinotabscaffold
- https://api.flutter.dev/flutter/cupertino/CupertinoNavigationBar/heroTag.html

[2021-01-15 03:55] hashirshoaeb commented on #120
Seems like, nesting tab scaffold and page scaffold, is creating this problem.

[2021-01-15 04:44] hashirshoaeb opened #121 "Fadein affect for backgrounnd images"
Need to add fading affect for background images.
We are using Unsplash APIs to to get wallpapers for background.
You can use [FadeInImage](https://flutter.dev/docs/cookbook/images/fading-in-images) Widget to achieve this task. Unsplash API returns the image url and blur_hash. You are required to use blur_hash for placeholder image.

You can learn from:
- https://unsplash.com/documentation
- https:

[2021-01-15 05:03] Imadarshsri commented on #121
I will do it.

[2021-01-15 15:48] kanishkaa24 commented on #52
Can I work on this issue ?

[2021-01-16 10:20] cyber-venom003 commented on #120
@hashirshoaeb Lemme check this.

[2021-01-16 16:40] #75 closed

[2021-01-16 16:48] #118 closed

[2021-01-17 05:45] cyber-venom003 commented on #120
@hashirshoaeb I checked and found that in home_page.dart, HomePage() and ProfilePage() were rendered incorrectly.
We forgot to use CupertinoTabView, hence I guess there was the problem because Hero can't detect the correct Widget Subtree as we didn't passed the correct BuildContext using builder property of CupertinoTabView.
PR #125 fixes this, please review.

[2021-01-17 05:46] hashirshoaeb commented on #120
Ah alright, i'll look into this.

Thanks @cyber-venom003

[2021-01-17 06:07] hashirshoaeb opened #126 "Add option to copy text in activityPage"
Add an option to copy activity text in activityPage, and save it clipboard.

You can learn from
- https://api.flutter.dev/flutter/services/Clipboard-class.html
- https://www.youtube.com/watch?v=ZSU3ZXOs6hc
- https://api.flutter.dev/flutter/material/SelectableText-class.html

[2021-01-17 06:07] hashirshoaeb opened #127 "Add Code Comments"
You may have noticed that the code is well commented. You just need to understand the functionality of class and static methods, and write 'code comments' above them.

- [x] controllers/global_setting.dart take example from other classes
- [x] models/global_setting.dart
- [x] screens/profile_page.dart

Learn more from here: https://dart.dev/guides/language/effective-dart/documentation

[2021-01-17 06:08] hashirshoaeb opened #128 "Add analytics widget in profile page"
There's a widget in lib/widgets/analytics.dart,  we need to add it in profile page.

For reference you can see screen 2 in [link](https://github.com/hashirshoaeb/star_book/blob/master/CONTRIBUTING.md)

[2021-01-17 06:08] hashirshoaeb opened #129 "Refactor date style"
In lib/screens/activity_page.dart we are using `30-12-2020` format.
You are required to implement format like this `December 30, 2020`

you can use getMonthTitle from lib/utils/date.dart

[2021-01-17 06:09] hashirshoaeb opened #130 "Add username in ProfilePage"
You are required to fetch User from database and display it in ProfilePage, replacing the constant `Tajas`. For ease I have already implemented the GlobalSettingController.

You can use following to get username from database.
[code]

[2021-01-17 06:09] hashirshoaeb opened #131 "Add Navigation bar"
Need to add Cupertino navbar in ProfilePage. For example reference you can see HomePage.

[2021-01-17 06:09] hashirshoaeb opened #132 "Add TimePicker for PreferenceSheet"
Need to implement Cupertino style time picker, to set time for reminder.
e.g.
A container in preference sheet
`Daily Reminder      13:00 >`
 on tap => navigate to timepicker sheet
and return the selected time.
You can save the time in DateTime object.

For reference you can see how we have implemented datepicker
lib/screens/date_picker_sheet.dart and  lib/screens/activity_edit_sheet.dart

[2021-01-17 06:11] spiderxm commented on #132
Assign me this issue

[2021-01-17 06:12] cyber-venom003 opened #133 "Refactor Date Picker Sheet Widget"
![datePickWidget](https://user-images.githubusercontent.com/58390399/104832554-dfaf5000-58b7-11eb-85c5-f7d88382c2b9.PNG)

DatePickerSheet widget needs to be refactored to remove above warnings.

References :
- https://stackoverflow.com/questions/54707731/this-class-inherits-from-a-class-marked-as-immutable-and-therefore-should-be-i
- https://api.flutter.dev/flutter/widgets/StatefulWidget-class.htm

[2021-01-17 06:18] hashirshoaeb commented on #133
<img width="716" alt="Screenshot 2021-01-17 at 11 14 17 AM" src="https://user-images.githubusercontent.com/35165481/104832744-264f7b00-58b5-11eb-9da3-ed169e03821e.png">

Referance:
https://dart-lang.github.io/linter/lints/unnecessary_brace_in_string_interps.html

[2021-01-17 06:44] #60 closed

[2021-01-17 06:49] #53 closed

[2021-01-17 08:13] ShrutiJ-01 commented on #131
I would like to work on it!

[2021-01-17 09:12] hashirshoaeb opened #134 "Improve ProfilePage UI"

[2021-01-17 09:17] ShrutiJ-01 commented on #134
I'd like to work on it!

[2021-01-17 09:27] KhyatiSaini commented on #130
Sir, I would like to work on this, please assign me this issue.

[2021-01-17 09:30] KhyatiSaini commented on #126
Sir, I would like to work on this, please assign me this issue.

[2021-01-17 11:00] spiderxm commented on #133
assign me this issue, I want to work on this issue

[2021-01-17 11:31] cyber-venom003 commented on #129
@hashirshoaeb Can you please assign this to me?

[2021-01-17 18:14] #105 closed

[2021-01-17 18:14] #130 closed

[2021-01-17 18:24] #133 closed

[2021-01-17 19:19] SinghShreya05 opened #138 "Daily Recommendations Implementations"
@hashirshoaeb Kindly assign me this issue under SWOC.

[2021-01-18 04:53] ShrutiJ-01 commented on #128
I would like to work on it!

[2021-01-18 10:13] cyber-venom003 commented on #107
@hashirshoaeb Is this issue still unsolved, if yes, please assign it to me.

[2021-01-18 10:20] hashirshoaeb commented on #107
@cyber-venom003 It's on pending. As it is depending on #121

[2021-01-18 18:08] spiderxm commented on #127
assign me this issue

[2021-01-18 22:06] yasharth291 opened #142 "Clicking changes month instead of drag"
**Steps to Reproduce**
Clicking on the home screen changes the month in past. The feature should be it should only change on drag not on click.

**Code Sample**
[code]

[2021-01-18 22:07] yasharth291 commented on #142
can you assign me this to solve.

[2021-01-19 02:51] hashirshoaeb commented on #142
linked with, #51 and #34

[2021-01-19 04:05] yasharth291 commented on #142
sure

[2021-01-19 06:36] hashirshoaeb commented on #52
any updates?

[2021-01-19 06:37] kanishkaa24 commented on #52
Yes I'll complete it by today evening.

[2021-01-19 06:49] hashirshoaeb commented on #52
You can convert your screen recording to gif from here, https://ezgif.com/video-to-gif

[2021-01-19 06:56] yasharth291 commented on #142
#144 the bug is solved

[2021-01-19 07:05] kanishkaa24 commented on #52
Hey
Can you guide me about installing flutter?
I have installed and extracted the folder but I'm not able to proceed further.
Or if the app is on any app store, please share the link.

[2021-01-19 07:09] hashirshoaeb commented on #52
@kanishkaa24 ping me on slack please.

[2021-01-19 13:32] TanweerulHaque commented on #138
Hey @hashirshoaeb Can you assign me this issue with @SinghShreya05  ?? I have a lot of ideas for daily recommendations ex - music, quotes etc which I think can be integrated in the application. Can I also work ?? If you all @SinghShreya05 and @hashirshoaeb you all are comfortable with this.

[2021-01-19 14:38] sid-1207 commented on #34
Hey I would like to resolve this issue
Please assign it to me

[2021-01-19 15:03] #51 closed

[2021-01-19 15:03] #142 closed

[2021-01-19 15:19] #129 closed

[2021-01-19 15:21] #128 closed

[2021-01-19 15:24] #131 closed

[2021-01-19 15:55] hashirshoaeb commented on #138
Sure you can, if @SinghShreya05 agrees on it.

[2021-01-19 16:19] SinghShreya05 commented on #138
Yes Sir, it's fine with me. If he has already worked on it, it'll be a plus point. @hashirshoaeb

[2021-01-19 16:27] hashirshoaeb commented on #138
@TanweerulHaque can you please ping me on slack.

[2021-01-20 04:39] #127 closed

[2021-01-20 06:04] kanishkaa24 commented on #134
Is this a design or implementation issue? If design, I would love to work on this.

[2021-01-20 13:43] kanishkaa24 opened #149 "Profile Page UI Designing"

[2021-01-21 11:25] #132 closed

[2021-01-21 13:57] #126 closed

[2021-01-25 03:43] #121 closed

[2021-01-25 04:18] hashirshoaeb opened #151 "private constructors"
There is no need to for object creation for those classes which have all the static methods. So need to make their constructors to prevent object creation.

You are learn more from 'singleton design pattern in dart'

[2021-01-25 04:18] hashirshoaeb opened #152 "shift 'load env' to proper place"
since loading env do not return any error, so we do not need try catch for the error. and we should shift it to main.dart

[2021-01-25 04:21] hashirshoaeb opened #153 "Go to Home"
if username is not added, open username add  sheet and then go to home.
If username is already added, then directly open home.

You can learn more from 'Navigator' https://flutter.dev/docs/development/ui/navigation

[2021-01-25 04:21] hashirshoaeb opened #154 "Convert functions to stateless class"
Functions that return widgets, needs to be converted into stateless class.

For more, learn from here. https://stackoverflow.com/questions/53234825/what-is-the-difference-between-functions-and-classes-to-create-reusable-widgets

[2021-01-25 04:35] cyber-venom003 commented on #154
Please assign it to me, I'll work on this.

[2021-01-25 07:22] hashirshoaeb commented on #76
Remaining task in new issue #153

[2021-01-25 07:22] #76 closed

[2021-01-25 09:56] KhyatiSaini commented on #151
Sir, I would like to work on this, please assign me this issue

[2021-01-25 11:42] spiderxm commented on #153
assign me this issue

[2021-01-26 14:04] KhyatiSaini commented on #152
Sir, please assign me this issue

[2021-01-26 14:09] hashirshoaeb commented on #152
make sure to work in different branch, (do not add the commit of singleton PR).

[2021-01-26 14:15] #151 closed

[2021-01-26 15:53] #134 closed

[2021-01-26 16:24] hashirshoaeb commented on #149
<img src="https://user-images.githubusercontent.com/35165481/105872713-844e3200-601c-11eb-82ac-060e53aa214a.png" alt="Star book profile page UI light mode" width="200" >

[2021-01-26 16:24] hashirshoaeb commented on #149
<img src="https://user-images.githubusercontent.com/35165481/105872725-887a4f80-601c-11eb-9af4-afe645c231fa.png" alt="Star book profile page UI dark mode" width="200" >

[2021-01-26 16:26] hashirshoaeb commented on #149
Solves in https://github.com/hashirshoaeb/star_book/commit/03414b7d3c25dfc2d5959c3974eb908c5a2e9bd4

[2021-01-26 16:31] #54 closed

[2021-01-26 18:07] hashirshoaeb opened #160 "Save Brightness option in hive"
On changing the dark mode option in preference sheet, save it in have.
You need to use global settings controller.

To initially get the option from hive
[code]
To set the brightness
[code]

[2021-01-26 18:08] hashirshoaeb opened #161 "Get streak/point values from db"
Use `ActivityController` to get streak and points values.
Use `points()` and  `streak()` methods.

And replace hard coded strings in profile sheet with it.

Make sure that `points` value change, on adding or deleting the activity

[2021-01-26 18:09] hashirshoaeb opened #162 "Streak calculation"
Write algo for calculating activity streak in `ActivityController.streak()`

[2021-01-26 18:13] #152 closed

[2021-01-26 18:17] #120 closed

[2021-01-27 02:43] hashirshoaeb opened #163 "Brightness option Light/dark"
Change the brightness of the app, on changing the dark mode option in preference sheet.

Get the brightnessOption from globalsetting controller.

If `BrightnessOpton.auto`, get the system brightness. Retrieve the system brightness using
[code]
If `BrightnessOption.light`, set
[code]
If `BrightnessOption.dark`, set
[code]

Learn more from:
- https://api.flutter.dev/flutter/cupertino/CupertinoThemeD

[2021-01-27 03:27] hashirshoaeb commented on #107
dependent on #163

[2021-01-27 03:29] KhyatiSaini commented on #160
Sir, please assign me this issue

[2021-01-27 03:35] hashirshoaeb commented on #160
there was a bug in the code which is fixed now. (if you get any error, try deleting the app and building it again)

[2021-01-27 04:05] KhyatiSaini commented on #163
Sir, please assign me this issue

[2021-01-27 04:25] #160 closed

[2021-01-27 12:01] Imadarshsri commented on #162
I would like to work on this...

[2021-01-27 15:57] KhyatiSaini commented on #161
sir, please assign me this issue

[2021-01-27 17:50] #163 closed

[2021-01-28 09:31] hashirshoaeb commented on #107
Fix:
Based on the brightness option,

if the brightness is light, set a light colored image,
if the brightness is dark, set a dark colored image,

[2021-01-28 09:32] #149 closed

[2021-01-28 12:51] KhyatiSaini commented on #107
Sir, I would like to work on this, please assign me this issue.

[2021-01-28 16:17] KhyatiSaini commented on #154
sir, please assign me this issue

[2021-01-30 05:05] #52 closed

[2021-01-30 05:11] #107 closed

[2021-01-30 05:15] #161 closed

[2021-01-30 18:39] spiderxm opened #172 "Add Feature to share mood"
Add feature so user can share his mood for a particular day with other people.

[2021-01-30 18:39] spiderxm commented on #172
Assign me this issue

[2021-01-31 07:06] 1hanzla100 opened #173 "username add sheet ui bug"
![Capture1](https://user-images.githubusercontent.com/59178380/106377140-acdb8080-63bc-11eb-8d64-a81a32602741.PNG)

[2021-01-31 07:40] hashirshoaeb commented on #173
Kindly use the bug template to report bug.

- mention screen size / device name
- your flutter version
- steps to reproduce

[2021-01-31 07:49] 1hanzla100 commented on #173
**Steps to Reproduce**
A RenderFlex overflowed by 32 pixels on the bottom.

**Code Sample**
[code]
**Flutter Doctor Command**
[code]
**Version**
 - Platform: Android Nexus 4
 - Flutter version: [e.g. 1.22.2]

[2021-01-31 08:05] 1hanzla100 commented on #173
Making PR for it
![Capture1](https://user-images.githubusercontent.com/59178380/106378236-f203b080-63c4-11eb-96d3-1ba606fa13f3.PNG)

[2021-01-31 08:08] hashirshoaeb commented on #173
okay

[2021-01-31 16:41] hashirshoaeb opened #175 "Add pie chart graph"
Add pie chat graph for monthly and weekly mood analytics.

- Use mood colors for graph colors. You can find it in, [lib/models/mood.dart](https://github.com/hashirshoaeb/star_book/blob/master/lib/models/mood.dart#L65)
- Use `ChartType.disc`
- For now use hard coded percentages.

Learn from:
- https://pub.dev/packages/pie_chart

[2021-01-31 16:41] hashirshoaeb opened #176 "Year Page loads slowly"
**Steps to Reproduce**
On navigate to year page from home page.

**Problem**
It opens the year page after some delay

I guess the problem is the 'for loop' that loads the 12 month widgets.

One improvement that can be made is to make it infinite list.

[2021-01-31 17:00] hashirshoaeb opened #177 "Make username editable"
- In profile page, extract username into a separate widget. name it 'Username'
- Make a textfield and and a button to set/update the username, like the mockup below and name this widget as 'UsernameEdit'
- switch the widgets using this `AnimatedSwitcher`

Learn more from:
- https://www.youtube.com/watch?v=2W7POjFb88g

[2021-01-31 17:02] hashirshoaeb commented on #177
<img  width="550"  src="https://user-images.githubusercontent.com/35165481/106391545-c78b1500-640f-11eb-9721-8b32a9f7dbf4.JPG" />

[2021-01-31 17:20] spiderxm commented on #175
Assign me this issue

[2021-02-01 10:21] KhyatiSaini commented on #177
Sir, please assign me this issue

[2021-02-05 06:20] 1hanzla100 opened #178 "Profile Page Error"
**Steps to Reproduce**
Error is in Profile Page

**Code Sample**
[code]
**Flutter Doctor Command**
[code]
**Version**
 - Platform: iOS, Android Nexus 4
 - Flutter version: [e.g. 1.22.2]
 -
![Capture1](https://user-images.githubusercontent.com/59178380/106997027-eb4db280-67a3-11eb-99e1-b440a95d4cd6.PNG)

[2021-02-05 06:31] 1hanzla100 commented on #178
@hashirshoaeb Review PR

[2021-02-05 06:55] #154 closed

[2021-02-05 06:56] #178 closed

[2021-02-06 15:29] hashirshoaeb commented on #66
https://stackoverflow.com/questions/63056454/xcode-12-deployment-target-warnings-when-use-cocoapods

[2021-02-07 10:19] Imadarshsri commented on #176
I would like to work on this...

[2021-02-08 01:58] hashirshoaeb opened #184 "Add download icon"
Add the `download  from the appstore` badge in Readme.
Choose the light one.

Follow the guidelines: https://developer.apple.com/app-store/marketing/guidelines/

Marketing tool: https://tools.applemediaservices.com/app/1552418289?country=us

Ref:
- https://tools.applemediaservices.com/

[2021-02-08 01:59] hashirshoaeb opened #185 "Shift the place of gifs"
move the gifs from `assets` folder to `READMEdocs` and update the links in readme.

[2021-02-08 01:59] hashirshoaeb opened #186 "Status bar color configuration"
Status Bar does not change color on changing the Brightness.

Solution:
https://stackoverflow.com/questions/49441187/how-to-change-status-bar-and-app-bar-color-in-flutter

[2021-02-08 01:59] hashirshoaeb opened #187 "Fix colours in date picker sheet"
Label  colors are not compatible with light mode. Use Cupertino dynamic colors to fix them.

[2021-02-08 01:59] hashirshoaeb opened #188 "[iOS] Lock the device orientation to Portrait"
Lock the device orientation to Portrait from xcode.

[2021-02-08 02:00] hashirshoaeb opened #189 "[iOS] deployment target to 12"
Set the minimum deployment target to 12 for iOS.

Linked with  #66

[2021-02-08 02:01] hashirshoaeb opened #190 "grammar mistake"
Fix the grammar mistake in [PRIVACY&POLICY.md](https://github.com/hashirshoaeb/star_book/blob/master/PRIVACY%26POLICY.md)

[2021-02-08 02:01] hashirshoaeb opened #191 "Update policy url"
Update  policy url in preference sheet.  New URL is this: https://github.com/hashirshoaeb/star_book/blob/master/PRIVACY%26POLICY.md

[2021-02-08 02:01] hashirshoaeb opened #192 "change app name"
change app name from star_book to StarBook for ios and andriod.

Ref:
- https://medium.com/@vaibhavi.rana99/change-application-name-and-icon-in-flutter-bebbec297c57

[2021-02-08 02:06] hashirshoaeb opened #193 "floating action button"
Add a floating action button in the HomePage in the bottom right corner.

See: [Screen 1](https://github.com/hashirshoaeb/star_book/blob/master/CONTRIBUTING.md#mock-up)

[2021-02-08 02:07] hashirshoaeb opened #194 "greeting relative to the time,"
Update greeting in Profile page.
in morning, good morning etc
at night , good night.
else Hi, hello etc

[2021-02-08 03:09] ShrutiJ-01 commented on #193
I would like to work on it

[2021-02-08 03:15] ShrutiJ-01 commented on #188
I would like to work on it

[2021-02-08 06:20] 96RadhikaJadhav commented on #192
@hashirshoaeb Can I work on the issue?

[2021-02-08 06:22] hashirshoaeb commented on #192
@96RadhikaJadhav under swoc?

[2021-02-08 06:23] 96RadhikaJadhav commented on #191
@hashirshoaeb  Can I work on the issue also?

[2021-02-08 06:23] 96RadhikaJadhav commented on #190
@hashirshoaeb Want to work on this too :).

[2021-02-08 06:29] 96RadhikaJadhav commented on #192
No.

[2021-02-08 06:30] hashirshoaeb commented on #192
Two issues at a time cannot be assigned. Please open a pull request for the assigned issue before claiming the next.

Best,
Hashir

[2021-02-08 10:45] spiderxm commented on #184
assign me this issue

[2021-02-08 10:46] spiderxm commented on #194
Assign me this issue

[2021-02-08 11:13] hashirshoaeb commented on #184
You are good to go. Make sure to use like the one i have used in the website. https://www.starbook.dev/
If you use file/image instead of link, then be sure to put that inside readme docs folder.

[2021-02-08 11:14] hashirshoaeb commented on #184
if you got queries, feel free to ping me on slack.

[2021-02-08 12:30] KhyatiSaini commented on #186
Sir, please assign me this issue

[2021-02-08 15:29] hashirshoaeb commented on #192
@Vrushti24! , @96RadhikaJadhav has already worked on this.

[2021-02-08 15:30] Vrushti24 commented on #192
Ohh..okay no problem 👍

On Mon, Feb 8, 2021, 8:59 PM Hashir Shoaib <notifications@github.com> wrote:

[2021-02-08 16:03] hashirshoaeb commented on #192
Feel free to check other unassigned issues, also feel free to test the app and report bugs. 🔥

[2021-02-08 16:05] Vrushti24 commented on #192
Thanks, I'll check it out.

On Mon, Feb 8, 2021, 9:33 PM Hashir Shoaib <notifications@github.com> wrote:

[2021-02-08 16:06] hashirshoaeb opened #197 "Spelling mistake"
Correct the spells of February

[2021-02-08 16:36] spiderxm commented on #184
sure

[2021-02-08 16:37] spiderxm commented on #197
assign me this issue

[2021-02-08 16:38] vaishnavirshah commented on #197
can you assign me this issue please

[2021-02-09 01:26] hashirshoaeb commented on #185
Sure 🔥

[2021-02-09 06:29] Vrushti24 commented on #185
which links I have to update in readme ? @hashirshoaeb

[2021-02-09 06:34] hashirshoaeb commented on #185
As we are using those gifs in Readme.md to showcase the android version. So the paths needs to be updated there as well.

[2021-02-09 06:35] hashirshoaeb commented on #185
You can take example of how I added the path for IOS

[code]

[2021-02-09 06:36] Vrushti24 commented on #185
okay thanks

[2021-02-09 06:47] Vrushti24 commented on #185
Done PR #199  please check that.

[2021-02-09 07:20] hashirshoaeb commented on #185
Nicely done! Thank you for contributing.

[2021-02-09 07:24] Vrushti24 commented on #185
Thank u for ur support

On Tue, Feb 9, 2021, 12:51 PM Hashir Shoaib <notifications@github.com>
wrote:

[2021-02-09 12:36] Sloth-Panda opened #200 "Addition of a welcome bot"
**Is your feature request related to a problem? Please describe.**
 - It will generally give an idea to anyone who hops in first time into the project and creates an issue or makes a pr
**Describe the solution you'd like**
- So adding this bot will help resolve that issue
**Describe alternatives you've considered**
- No alternative

[2021-02-09 13:06] hashirshoaeb commented on #200
can you share the link of bot you are talking about?

[2021-02-09 13:39] Sloth-Panda commented on #200
Sure sharing in few minutes

[2021-02-09 13:56] Sloth-Panda commented on #200
https://github.com/apps/welcome  : this is the one

[2021-02-09 14:56] #177 closed

[2021-02-09 15:04] #192 closed

[2021-02-09 15:06] #191 closed

[2021-02-09 15:09] #185 closed

[2021-02-09 16:11] hashirshoaeb commented on #153
@spiderxm see #201

[2021-02-09 16:11] #153 closed

[2021-02-09 16:17] hashirshoaeb commented on #173
[Notes:] Expanded and flex can be used.

for ref:
- https://api.flutter.dev/flutter/widgets/Expanded-class.html
- https://www.youtube.com/watch?v=CI7x0mAZiY0

`flex` property will work as ratio

[2021-02-09 16:40] hashirshoaeb commented on #189
changes in https://github.com/hashirshoaeb/star_book/commit/b693afc449a1081c69c6192d3d8b7ee6b5050600

[2021-02-09 16:40] #189 closed

[2021-02-09 16:40] hashirshoaeb commented on #66
fixed in https://github.com/hashirshoaeb/star_book/commit/b693afc449a1081c69c6192d3d8b7ee6b5050600

[2021-02-09 16:40] #66 closed

[2021-02-09 16:44] #188 closed

[2021-02-09 16:47] hashirshoaeb commented on #200
when do you feel more valued? when bot says welcome to you or if maintainer himself welcome you haha?

[2021-02-09 16:49] hashirshoaeb commented on #200
![image](https://user-images.githubusercontent.com/35165481/107397551-9356d900-6b20-11eb-957f-9d14f0813380.png)

closing with a meme!!

[2021-02-09 16:49] #200 closed

[2021-02-09 16:50] hashirshoaeb commented on #200
Thank you for feature suggestion 🔥

[2021-02-10 02:27] hashirshoaeb commented on #172
[Refining feature]

Add a share icon, that allows you to copy or share the activity to other social media platforms. Or can also export as pdf.

[2021-02-10 02:47] #175 closed

[2021-02-10 03:02] hashirshoaeb opened #202 "Spelling mistake"
add activity

https://github.com/hashirshoaeb/star_book/blob/4f84cc2f8cce131e1f77666edb5d2c6250ab55c6/lib/screens/activity_edit_sheet.dart#L119

[2021-02-10 03:03] hashirshoaeb commented on #197
https://github.com/hashirshoaeb/star_book/blob/4f84cc2f8cce131e1f77666edb5d2c6250ab55c6/lib/utils/date.dart#L61

[2021-02-10 05:43] PrathameshAshra commented on #202
can you assign me this ?

[2021-02-10 05:45] hashirshoaeb commented on #202
Sure

[2021-02-10 07:42] hashirshoaeb commented on #190
@96RadhikaJadhav any progress on it?

[2021-02-10 07:43] hashirshoaeb commented on #176
@Imadarshsri any progress on it?

[2021-02-10 09:03] 96RadhikaJadhav commented on #190
@hashirshoaeb  Will create a PR today.

[2021-02-10 10:56] #190 closed

[2021-02-10 10:57] PrathameshAshra commented on #202
Thanks, would get back to you and create a new PR in 2 days.

[2021-02-10 11:01] hashirshoaeb commented on #202
hahaha! by the way it will take less than 5 minutes to fix this.

[2021-02-10 11:03] hashirshoaeb commented on #202
No problem you can take time ❤️

[2021-02-10 14:29] spiderxm commented on #172
ok will work on this

[2021-02-10 15:47] hashirshoaeb commented on #172
I need time to refine it more. But if you want to work on it, go ahead. 🔥

[2021-02-11 01:36] #184 closed

[2021-02-11 04:04] #187 closed

[2021-02-11 05:36] spiderxm commented on #194
Assign me this issue

[2021-02-11 05:48] hashirshoaeb commented on #194
Sorry i forgot that you previously claimed. And thanks for reminding me. Good luck

[2021-02-11 17:35] 96RadhikaJadhav commented on #197
@hashirshoaeb Can I create a PR for this?

[2021-02-11 17:55] hashirshoaeb commented on #197
yea sure.

[2021-02-11 19:34] #197 closed

[2021-02-11 19:37] #194 closed

[2021-02-12 05:43] PrathameshAshra commented on #202
Hi @hashirshoaeb, I tied searching for the spelling error but unable to find any typos here.

[2021-02-12 07:06] hashirshoaeb commented on #202
🤦🏻‍♂️ I've mentioned in the issue.

[2021-02-12 07:07] hashirshoaeb commented on #202
here

[2021-02-12 15:44] #202 closed

[2021-02-13 03:44] #186 closed

[2021-02-13 16:31] #162 closed

[2021-02-26 16:22] hashirshoaeb opened #210 "credits display for unsplash photos"
Ref:

- https://help.unsplash.com/en/articles/2511315-guideline-attribution

[2021-02-28 17:43] #61 closed

[2021-02-28 17:44] #138 closed

[2021-03-01 01:53] #50 closed

[2021-03-01 02:09] #34 closed

[2021-03-07 04:24] hashirshoaeb opened #212 "start constants with k convention"

[2021-03-07 04:28] #212 closed

[2021-03-09 12:58] hashirshoaeb opened #214 "Need to Improve the graph UI"
**Problem:**
Existing graph is not much informative.

**Solution**
Should make the UI like this image:
<img width="246" alt="Screenshot 2021-03-08 at 1 37 37 PM" src="https://user-images.githubusercontent.com/35165481/110473756-b5804e80-8100-11eb-86f8-a629560ddb63.png">

[2021-03-10 02:47] hashirshoaeb commented on #193
Hey @ShrutiJ-01 let me know if you have any progress on it.

[2021-04-03 13:33] hashirshoaeb commented on #173
fixed in 6084f19dd4f41b263e828522f44c87c7c4d7b0de

[2021-04-03 13:33] #173 closed

[2021-10-10 08:47] hashirshoaeb opened #218 "Flutter migration from ^1. to ^2."
This issues is to track project migration

[2021-10-10 09:17] hashirshoaeb opened #220 "ignore committing ios builds"
<img width="241" alt="Screenshot 2021-10-10 at 2 17 07 PM" src="https://user-images.githubusercontent.com/35165481/136689813-070412ec-e4bf-4fb5-bfa7-5085952faab7.png">

[2021-10-10 09:31] #220 closed

[2021-10-15 14:04] hashirshoaeb opened #230 "Integrate freezed to data classes"
https://pub.dev/packages/freezed

[2021-12-01 17:02] #218 closed

[2021-12-09 02:39] hashirshoaeb opened #235 "Change preference sheet to page."
change the bottom sheet to full page.

[2021-12-09 02:41] hashirshoaeb opened #236 "Export Data (a)"
In preference page UI. Add a tile saying 'Export all data'

[2021-12-09 02:43] hashirshoaeb opened #237 "Delete all data (a)"
In preference page UI. Add a tile saying 'Erase all data'

similar to #236

[2021-12-09 02:56] hashirshoaeb opened #238 "Controller Abstraction (a)"
I planning to abstract some logic from controller. Base Controller will be like following piece of code. Your task is just to add this in `lib/controllers/base_controller.dart`

[code]
abstract classes are really beneficial to avoid code duplication.

I'll open a new issue after this, where we will extend our controllers with this class.

[2021-12-10 04:16] atharv-bhadange commented on #236
Hey! I'm a beginner, can I work on this?
I'll add a `Privacy` tab under which there will be the required `Export all data` tile.

[2021-12-10 04:38] hashirshoaeb commented on #236
sure, I'll create a mock UI for you. for better understanding. :)

[2021-12-11 08:31] hashirshoaeb commented on #236
![image](https://user-images.githubusercontent.com/35165481/145670060-a5e8c8e6-1616-43ca-a864-f1d87062d9fb.jpeg)

[2021-12-11 08:33] hashirshoaeb commented on #236
you can also work on #237 in a single PR. Task is just to implement UI with no (onPressed or onTap) logic.

[2021-12-11 18:11] atharv-bhadange commented on #236
Will this do?

![image](https://user-images.githubusercontent.com/65965314/145687065-f93dca3e-a053-4b7c-a078-92acaa4abdba.png)

[2021-12-11 19:44] hashirshoaeb commented on #236
yesss perfect

[2021-12-12 03:52] #236 closed

[2021-12-12 03:52] #237 closed

[2021-12-12 06:26] #238 closed

[2021-12-12 06:43] ShrutiJ-01 opened #241 "Make BaseController abstract and remove overridden method"
In base_controller.dart ,make  the BaseController class abstract and remove overridden method.

can you make it abstract class?
`abstract class BaseController`

_Originally posted by @hashirshoaeb in https://github.com/hashirshoaeb/star_book/pull/240#discussion_r767229328_

we do not need to override this method, since you are only calling super here. so that does not make sense.

_Originally post

[2021-12-12 07:20] SharviE29 commented on #241
Yes , I will make these changes

[2021-12-12 07:37] #241 closed

[2021-12-16 13:21] hashirshoaeb commented on #193
All you need is to replace CupertinoScaffold  with `Scaffold` and use floading action property.  and on pressed, navigate it to the ActivityAddSheet, with DateTime.now().

[2021-12-16 13:26] hashirshoaeb commented on #214
make sure to check above linked issues for example code.

[2021-12-16 14:01] hashirshoaeb opened #243 "Add action sheet"
[Cupertino action sheet](
https://api.flutter.dev/flutter/cupertino/CupertinoActionSheet-class.html)

![image](https://user-images.githubusercontent.com/35165481/146385941-0aeef33e-f082-4013-aecb-32fab904163b.png)

Task:

- [ ] In `ActivityPage` add a "vertical 3 dot icon" on the top right corner of the screen.
- [ ] On tap to this icon, open `CupertinoActionSheet` with following tiles:
- [x] #244

[2021-12-16 14:02] hashirshoaeb opened #244 ""Share""
when you tap on "Share" in `CupertinoActionSheet`, it should open a share bottom sheet using this package https://pub.dev/packages/share_plus

String format should be like below (note the spacing)
[code]

[2021-12-16 14:09] hashirshoaeb opened #245 ""Add to Favorites""
- [ ] You need to add a property in `Activity` model

pseudocode
[code]
- [ ] In `ActivityPage` 's  `CupertinoActionSheet` if the activity is favorite show label as "Unfavorite" else "Add to favorites"
- [ ] on press toggle the favorite property. and save in hive using `ActivityController`

refs:
- https://pub.dev/packages/freezed
- https://pub.dev/packages/hive

[2021-12-16 14:35] hashirshoaeb opened #246 "Route name refactoring"
Currently all the routes and their names are defined in `RouteGenerator`. So for navigation I need to copy over the same route string. Where there is code duplication there is a chance of bugs. So to get rid of this situation i planned this refactoring task.

We will create a static route string in the same screen widget and will access this variable in `RouteGenerator` and `Navigator`.
pseudo cod

[2022-01-02 11:02] khushbooag4 commented on #193
I want to work on this issue??

[2022-01-02 11:03] khushbooag4 commented on #244
I want to work on this issue??

[2022-01-02 11:16] hashirshoaeb commented on #193
Sure go ahead. assigning issue to you :D

[2022-01-03 19:06] noman2002 commented on #235
Hey, please explain a bit more about the issue. I'm willing to work on this, please assign it.

[2022-01-04 04:35] hashirshoaeb commented on #235
Hi, Thank you for taking interest.

When you click hamburger, you will notice that it opens a bottom sheet. My naming conventions, I write bottoms sheets as (sheet) and full screen page as (page). So instead of open the preference screen as bottom sheet open it as full screen.

You will also have to change the class name from "sheet" to "page"

Hope this answers your query. feel free to ask furthe

[2022-01-04 18:00] noman2002 commented on #235
OK Got it. will reach out to you if I have any trouble while fixing this.

[2022-01-06 13:11] noman2002 commented on #235
Sorry I am unable to fix this.

[2022-01-07 05:27] hashirshoaeb commented on #235
Oh Thank you for your time. Let me know if you need assistance in logic building, or code understanding. Or else I'll assign it to myself.

[2022-02-20 20:09] samrath-sudesh-acharya commented on #246
raised a pr , please merge it

[2022-02-21 04:50] #246 closed

[2022-02-21 07:47] samrath-sudesh-acharya commented on #193
Raised a pr , pls merge it

[2022-02-22 06:08] samrath-sudesh-acharya commented on #243
@hashirshoaeb assign this to me

[2022-02-22 08:23] hashirshoaeb commented on #243
There you go 🚀

[2022-02-23 04:26] #193 closed

[2022-02-23 04:34] hashirshoaeb opened #250 "hamburger button routing broke"

[2022-02-23 04:36] #250 closed

[2022-10-08 04:38] #245 closed

[2022-10-08 04:38] #244 closed

[2022-10-08 04:38] #243 closed

[2022-10-08 04:38] #235 closed

[2022-10-08 04:39] #214 closed

[2022-10-08 04:39] #210 closed

[2022-10-08 04:39] #176 closed

[2022-10-08 04:39] #172 closed

[2022-10-09 13:51] hashirshoaeb opened #255 "Create Github issue templates"
Last time we did something like this: https://github.com/hashirshoaeb/star_book/issues/49
Here are the files you can copy them: https://github.com/hashirshoaeb/star_book/tree/old-master/.github/ISSUE_TEMPLATE

[2022-10-09 17:14] SaumyaBhushan commented on #255
I would Like to work on this . Please assign it to me @hashirshoaeb

[2022-10-10 05:23] hashirshoaeb opened #256 "Create Hive + Freezed models"
[code]

- [x] #258
- [x] #259
- [x] #260

[2022-10-10 18:26] SaumyaBhushan commented on #255
@hashirshoaeb Let me know if its work for you.

[2022-10-11 04:11] #255 closed

[2022-10-20 03:58] hashirshoaeb opened #258 "Journal Model"

[2022-10-20 03:58] hashirshoaeb opened #259 "Mood Model"

[2022-10-20 03:58] hashirshoaeb opened #260 "User Model"

[2022-10-21 04:59] hashirshoaeb opened #261 "starbook theme class"

[2022-10-27 13:09] HM-Anwar commented on #258
fixed this issue, kindly review it. @hashirshoaeb  #262

[2022-10-27 18:23] HM-Anwar commented on #259
resolved this issue. @hashirshoaeb #263

[2022-10-27 19:19] #259 closed

[2022-10-28 06:32] hashirshoaeb opened #264 "Repositories"

[2022-10-28 07:36] HM-Anwar commented on #260
task completed. check #265

[2022-10-28 08:02] #260 closed

[2022-10-28 08:02] #256 closed

[2022-10-28 14:38] HM-Anwar commented on #261
Completed Theme class. check #277  @hashirshoaeb

[2022-10-28 15:13] hashirshoaeb commented on #261
Design is not ready, so we will not be able to generate theme class for now